* {
    background-color: none;
    margin: 0;
    padding: 0;
  }
  html {
    font-size: 62.5%;
    box-sizing: border-box;
  }
  #header {
    text-align: center;
    background-color: #0b0f2c;
    padding: 2rem;
  }
  #header > h1 {
    color: #ffc04a;
    font-size: 6rem;
  }
  #intro {
    padding: 2rem;
    /* background-color: greenyellow; */
  }
  #intro > h2 {
    font-size: 3rem;
    color: #3e4891;
  }
  #intro > p {
    font-size: 2rem;
    margin-top: 0.5rem;
    text-align: justify;
  }

  .imgcontainer{
    background-color: #3e4891;
    display: flex;
    align-items: center;
    justify-content: center;

  }
  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: auto; */
   /* background-color: #ffc04a; */
   overflow: hidden; 

  }
  .logo > img {
    height: 4rem;
    width: 5rem;
  }
  .titulo{
    text-align: center;
    justify-content: baseline;
  }
  .valor{
    text-align: center;
    /* justify-content: baseline; */
  }


  #list1 {
    background-image:url(./assets/images/foto.jpg);
    background-size:cover;
    background-position: 0%;

    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
  }

  .box > div > p {
    font-size: 1.5rem;
    color: white;
    font-weight: 800;
    
  }
  
  .box {
    padding: 1rem;
    background-color: #0b0f2c;
    width: 30%;
    opacity: 95%;

    -webkit-box-shadow: 0px 0px 15px -2px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 0px 15px -2px rgba(0, 0, 0, 1);
    box-shadow: 0px 0px 15px -2px rgba(0, 0, 0, 1);

    border-radius: 10px 10px 10px 10px;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
  
  .logo {
    grid-area: 1 / 1 / 3 / 2;
  }
  .titulo {
    grid-area: 1 / 2 / 2 / 3;
  }
  .valor {
    grid-area: 2 / 2 / 3 / 3;
  }
  
  #selectform {
    text-align: center;
    padding: 1rem;
    background-color: #0b0f2c;
  }
  #selectform > form > select {
    width: 20rem;
    min-width: 10rem;
  }
  #graphsection {
    /* background-color: darkcyan; */
    text-align: center;
    padding: 1rem;
  }
  #graphtitle {
    padding: 1rem;
    font-size: 2rem;
  }
  #graphbox {
    
    /* background-color: darkred; */
    padding: 1rem;
    margin: 1rem;
  }
  #footer {
    padding: 4rem;
    background-color: #0b0f2c;
  }
  

  @media only screen and (min-width: 400px ) {
    .chart-container{
      height: 700px;
      /* background-color:#3e4891 ; */
      align-self: center;
      margin: auto;
    }

  }

  @media only screen and (max-width: 740px) {
    .box {
      width: 90%;
    }

  }

  
  @media only screen and (max-width: 400px) {
    #graphsection{
      margin: 0;
      padding: 0;
    }
    #graphbox{
      padding: 0;
      margin: 0 ;
      /* justify-content: center;
      justify-items: center; */
      justify-self: center;
    }

   .chart-container{
      height: 400px;
      width: 350px;
      /* background-color: #ffc04a; */
      align-self: center;
      margin: auto;
    }
  }


  @media only screen and (max-width: 360px) {
    #graphbox{
      padding: 0;
      margin: 0 ;

      /* background-color: #0b0f2c; */
    }
      .chart-container{
      height: 400px;
      width: 250px;
      /* background-color: #ffc04a; */
      margin: auto;
    }
  }